.volunteers-info-text {
    color: green;
}

.volunteers-warning-text {
    color: red;
}
.volunteers-table-width {
    width: 70%;
}

.volunteers-table-width-red {
    width: 70%;
	color: red;
}

.volunteers-table {
    width: 100%;	
}

.volunteers-clickable-title {
    cursor: pointer;
	background-color: gainsboro; 
}

.volunteers-content-container {
    display: none;
}

.volunteers-content-main {
    margin-top: 10px; 
    margin-bottom: 15px; 
}

.volunteers-table-responsive {
    overflow-x: auto;
}

.volunteers-table-responsive table tbody tr:nth-child(2n+1) { /*každá tabulka bude mít zebru, t.j. druhý řádek jinak barevný*/
    background-color: #f2f2f2;
}

.volunteers-table-responsive table tr:first-child { /*každá tabulka bude mít jinak barevný popisek*/
    background-color: #ffcc99 !important;
}

.volunteers-table-responsive th,
.volunteers-table-responsive td {
  vertical-align: top;
  text-align: left;	
}

.volunteers-text-underlined { /* Podtržení textu */
    text-decoration: underline;
}


.volunteers-grey-background {
        background-color: #f2f2f2; /* Zde můžete použít libovolnou šedou barvu */
        padding: 10px;
        border: 1px solid #ccc; /* Volitelně můžete přidat ohraničení */
    }

.volunteers-other-background {
        background-color: #FAF0E6; 
        padding: 10px;
        border: 1px solid #ccc; /* Volitelně můžete přidat ohraničení */
    }